
     <p id="h1">{{'HOME.TITLE' | translate }}</p>


<section class="section">
    <div class="container" id="projekty">
            <h2>{{'HOME.SUBTITLE1' | translate }}</h2>
            <p class="paragraph">
                {{'HOME.TEXT1' | translate }}

            </p>
    </div>

</section>

<section class="section">
    <div class="container" id="contact">
            <h2> {{'HOME.SUBTITLE2' | translate }}</h2>
            <p class="paragraph">
                {{'HOME.TEXT2' | translate }}


            </p>
    </div>

</section>
<button class="btn btn-danger logoutBtn my-2 my-sm-0 logoutBtn" (click)="onLogout()">{{'HOME.LOGOUT' | translate }}</button>


