<h1 id="tableLabel">{{'INSPIRATIONAL.TITLE' | translate}}</h1>
<div class="qouteDiv">
  <p class="quote">~ “Be yourself; everyone else is already taken.”</p>
  <p class="author">― Oscar Wilde</p>
</div>

<div class="qouteDiv">
  <p class="quote">~ “Be the change that you wish to see in the world.”</p>
  <p class="author">― Mahatma Gandhi</p>
</div>

<div class="qouteDiv">
  <p class="quote">~ “Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”</p>
  <p class="author">― Marilyn Monroe</p>
</div>

<div class="qouteDiv">
  <p class="quote">~ “When one door of happiness closes, another opens; but often we look so long at the closed door that we do not see the one which has been opened for us.”</p>
  <p class="author">― Helen Keller</p>
</div>

<div class="qouteDiv">
  <p class="quote">~ “Success is not final, failure is not fatal: it is the courage to continue that counts.”</p>
  <p class="author">― Winston S. Churchill</p>
</div>