<div class="containerTwo">
    <form  class='mb-4' autocomplete='off'>
        <h3>{{'FORGET.TITLE' | translate }}</h3>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" > 
            <!--<label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid email address.</label>-->
        </div>
        <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
                <button type="submit" class="btn btn-lg btn-block" (click)="onClick()" clickable> <!--[disabled]="!service.formModel.valid"-->{{'FORGET.BTN' | translate }}</button>
                {{clickMessage}}
            </div>
                 
        </div>
    </form>
</div>
